{% extends "bootstrap/base.html" %}

{% block title %}
FitnessCentre
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(65003125, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65003125" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FitnessCentre</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="{{ url_for('login') }}">Вход</a></li>
                <li><a href="{{ url_for('signup') }}">Регистрация</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
<div class="title">
    <h1>Добро пожаловать!</h1>
    <h4>Вы на ходитесь на главной странице спортивного зала "Fitness Centre". <br> Ниже представлена актуальная информация о расписании занятий на сегодняшний день</h4>
</div>
    <div class="main-table">
        <h2>Расписание на {{dates[0].date}} {{dates[0].day}}</h2>
        <table class="table-col">
            <tr><td><span>{{dates[0].time}}</span><br>Занято {{dates[0].people_count}}/20</td><td><span>{{dates[1].time}}</span><br>Занято {{dates[1].people_count}}/20</td><td><span>{{dates[2].time}}</span><br>Занято {{dates[2].people_count}}/20</td><td><span>{{dates[3].time}}</span><br>Занято {{dates[3].people_count}}/20</td><td><span>{{dates[4].time}}</span><br>Занято {{dates[4].people_count}}/20</td><td><span>{{dates[5].time}}</span><br>Занято {{dates[5].people_count}}/20</td></tr>
            <tr><td><span>{{dates[6].time}}</span><br>Занято {{dates[6].people_count}}/20</td><td><span>{{dates[7].time}}</span><br>Занято {{dates[7].people_count}}/20</td><td><span>{{dates[8].time}}</span><br>Занято {{dates[8].people_count}}/20</td><td><span>{{dates[9].time}}</span><br>Занято {{dates[9].people_count}}/20</td><td><span>{{dates[10].time}}</span><br>Занято {{dates[10].people_count}}/20</td><td><span>{{dates[11].time}}</span><br>Занято {{dates[11].people_count}}/20</td></tr>
            <tr><td><span>{{dates[12].time}}</span><br>Занято {{dates[12].people_count}}/20</td><td><span>{{dates[13].time}}</span><br>Занято {{dates[13].people_count}}/20</td><td><span>{{dates[14].time}}</span><br>Занято {{dates[14].people_count}}/20</td><td><span>{{dates[15].time}}</span><br>Занято {{dates[15].people_count}}/20</td><td><span>{{dates[16].time}}</span><br>Занято {{dates[16].people_count}}/20</td><td><span>{{dates[17].time}}</span><br>Занято {{dates[17].people_count}}/20</td></tr>
            <tr><td><span>{{dates[18].time}}</span><br>Занято {{dates[18].people_count}}/20</td><td><span>{{dates[19].time}}</span><br>Занято {{dates[19].people_count}}/20</td><td><span>{{dates[20].time}}</span><br>Занято {{dates[20].people_count}}/20</td></tr>
        </table>
    </div>
</div><!-- /.container -->
{% endblock %}