{% extends "bootstrap/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='fonts.css')}}" />
{% endblock %}

{% block content %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(65003125, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65003125" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ username }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}">Главная</a></li>
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">

    <div class="profile">
    <h2>Личный кабинет</h2>
    <table>
        <tr><td>Логин</td><td>{{ username }}</td></tr>
        <tr><td>Имя</td><td>{{ name }}</td></tr>
        <tr><td>Фамилия</td><td>{{ surname }}</td></tr>
        <tr><td>Отчество</td><td>{{ midname }}</td></tr>
        {% if user_lvl !=3 %}
        <tr><td>Номер абонемента</td><td>{{ ticket }}</td></tr>
        {% endif %}
    </table>
        {% if user_lvl !=3 %}
    <p>Абонемент №1 действителен до {{enddate}}</p>
        {% endif %}
        {% if user_lvl ==3 %}
        <p>Для полного доступа пройдите верификацию по номеру +79107320110</p>
        {% endif %}
    </div>

{% endblock %}
    </div>
</div>
